.matchday-container {
  display: block;

  .summary {
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    white-space: nowrap;

    .day {
      width: 100%;
      margin: 0 5vw;
      text-align: center;
    }
  }

  form {
    display: block;
    justify-content: space-evenly;

    .home {
      display: flex;
      align-items: start;
    }

    .away {
      display: flex;
    }

    label {
      width: 100%;
      flex-wrap: nowrap;
    }

    input {
      width: 15vw;
    }
  }
}
