<div>
  <h1>Make your predictions for the group phase of the 2024 UEFA Champions League</h1>
  <p>Your club has a tough draw and you wonder if they can make it to the next phase of the UEFA Champions League? Make your own predictions and check out which teams will come out on top of the league phase and qualify directly for the round of 16, which teams will have to go through the play-in game and who will be eliminated from the 2024-2025 Champions League</p>
  <%= link_to "Make your picks", matchdays_path %>
</div>
