<div class="container matchday-container">
  <div class="summary mb-5">
    <%= render "horizontal_list", matchdays: @matchdays, current_matchday: @matchday %>
  </div>

  <div class="md:grid md:grid-cols-3 gap-5">
    <div class="md:col-span-2">
      <%= simple_form_for @matchday, url: update_predictions_matchday_path(@matchday), method: :patch, remote: true do |f| %>
        <%= render "predictions", matchday: @matchday, games: @games, f:f %>
      <% end %>
    </div>

    <div class="table-container">
      <%= render "table", clubs: @clubs %>
    </div>
  </div>
</div>
