<div class="container matchday-container">
  <div class="summary">
    <%= render "horizontal_list", matchdays: @matchdays %>
  </div>
  <%= render "predictions", matchday: @matchday, games: @games %>
</div>
