.matchday-container {

  form {
    display: block;
    justify-content: space-evenly;

    .home {
      display: flex;
      align-items: start;
    }

    .away {
      display: flex;
    }

    label {
      width: 100%;
      flex-wrap: nowrap;
    }

    input {
      text-align: right;
      padding: 0;
      width: 42px;
    }
  }
}
